{
  "name": "mialcaldia_paginaweb",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "imports": [
    {
      "path": "scss/style.scss",
      "imports": [
        "scss/_bootstrap-variables.scss",
        "scss/_core-variables.scss",
        "scss/core/core.scss",
        "scss/uikits/_uikits.scss",
        "scss/_custom.scss",
        "scss/core/_variables.scss",
        "scss/core/_mixins.scss",
        "scss/core/_typography.scss",
        "scss/core/_animate.scss",
        "scss/core/_aside.scss",
        "scss/core/_avatars.scss",
        "scss/core/_badge.scss",
        "scss/core/_breadcrumb-menu.scss",
        "scss/core/_breadcrumb.scss",
        "scss/core/_buttons.scss",
        "scss/core/_callout.scss",
        "scss/core/_card.scss",
        "scss/core/_charts.scss",
        "scss/core/_dropdown.scss",
        "scss/core/_footer.scss",
        "scss/core/_grid.scss",
        "scss/core/_input-group.scss",
        "scss/core/_loading.scss",
        "scss/core/_modal.scss",
        "scss/core/_nav.scss",
        "scss/core/_navbar.scss",
        "scss/core/_progress.scss",
        "scss/core/_sidebar.scss",
        "scss/core/_switches.scss",
        "scss/core/_tables.scss",
        "scss/core/_widgets.scss",
        "scss/core/_layout.scss",
        "scss/core/_others.scss",
        "scss/core/_utilities.scss",
        "scss/core/_temp.scss",
        "scss/core/_rtl.scss",
        "scss/uikits/email/_email.scss",
        "scss/core/utilities/_background.scss",
        "scss/core/utilities/_borders.scss",
        "scss/core/utilities/_display.scss"
      ]
    },
    {
      "path": "scss/core/core.scss",
      "imports": [
        "scss/core/_variables.scss",
        "scss/core/_mixins.scss",
        "scss/core/_typography.scss",
        "scss/core/_animate.scss",
        "scss/core/_aside.scss",
        "scss/core/_avatars.scss",
        "scss/core/_badge.scss",
        "scss/core/_breadcrumb-menu.scss",
        "scss/core/_breadcrumb.scss",
        "scss/core/_buttons.scss",
        "scss/core/_callout.scss",
        "scss/core/_card.scss",
        "scss/core/_charts.scss",
        "scss/core/_dropdown.scss",
        "scss/core/_footer.scss",
        "scss/core/_grid.scss",
        "scss/core/_input-group.scss",
        "scss/core/_loading.scss",
        "scss/core/_modal.scss",
        "scss/core/_nav.scss",
        "scss/core/_navbar.scss",
        "scss/core/_progress.scss",
        "scss/core/_sidebar.scss",
        "scss/core/_switches.scss",
        "scss/core/_tables.scss",
        "scss/core/_widgets.scss",
        "scss/core/_layout.scss",
        "scss/core/_others.scss",
        "scss/core/_utilities.scss",
        "scss/core/_temp.scss",
        "scss/core/_rtl.scss",
        "scss/core/utilities/_background.scss",
        "scss/core/utilities/_borders.scss",
        "scss/core/utilities/_display.scss"
      ]
    },
    {
      "path": "scss/core/_utilities.scss",
      "imports": [
        "scss/core/utilities/_background.scss",
        "scss/core/utilities/_borders.scss",
        "scss/core/utilities/_display.scss"
      ]
    },
    {
      "path": "scss/uikits/_uikits.scss",
      "imports": [
        "scss/uikits/email/_email.scss"
      ]
    },
    {
      "path": "scss/vendors/_variables.scss",
      "imports": [
        "scss/_bootstrap-variables.scss",
        "scss/_core-variables.scss",
        "scss/core/_variables.scss"
      ]
    },
    {
      "path": "scss/vendors/angular-calendar/angular-calendar.scss",
      "imports": [
        "scss/vendors/_variables.scss",
        "scss/vendors/angular-calendar/_month-view.scss",
        "scss/vendors/angular-calendar/_week-view.scss",
        "scss/vendors/angular-calendar/_day-view.scss",
        "scss/_bootstrap-variables.scss",
        "scss/_core-variables.scss",
        "scss/core/_variables.scss"
      ]
    },
    {
      "path": "scss/vendors/bs-datepicker/bs-datepicker.scss",
      "imports": [
        "scss/vendors/bs-datepicker/_variables.scss",
        "scss/vendors/bs-datepicker/_mixins.scss"
      ]
    },
    {
      "path": "scss/vendors/chart.js/chart.scss",
      "imports": [
        "scss/vendors/_variables.scss",
        "scss/_bootstrap-variables.scss",
        "scss/_core-variables.scss",
        "scss/core/_variables.scss"
      ]
    },
    {
      "path": "scss/vendors/ng-select/ng-select.scss",
      "imports": [
        "scss/vendors/_variables.scss",
        "scss/_bootstrap-variables.scss",
        "scss/_core-variables.scss",
        "scss/core/_variables.scss"
      ]
    },
    {
      "path": "scss/vendors/toastr/toastr.scss",
      "imports": [
        "scss/vendors/_variables.scss",
        "scss/_bootstrap-variables.scss",
        "scss/_core-variables.scss",
        "scss/core/_variables.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 4203,
    "assignNewPortAutomatically": false,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://localhost:4200/#/dashboard"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}